/P5/Cubes_01/Animations
/P5/Squares_02/Animations
/P5/Finding_Myself/Animations
/P5/QuadTree/Animations
*.tmp
*.docx
.DS_Store
applet
application.linux32
application.linux64
application.windows32
application.windows64
application.macosx
