/P5/Cubes_01/Animations
/P5/Squares_02/Animations
/P5/Finding_Myself/Animations
/P5/QuadTree/Animations
/P5/Radial_Pattern_01/Animations/*.mov
/Coding_Sketchbook\P5\WebSocket_Example_01\node_modules
*.tmp
*.docx
.DS_Store
applet
application.linux32
application.linux64
application.windows32
application.windows64
application.macosx
